@font-face {
  font-family: 'GreatVibes';
  src: url('fonts/greatvibes-regular-webfont.eot');
  src: url('fonts/greatvibes-regular-webfont.eot?#iefix') 
        format('embedded-opentype'),
       url('fonts/greatvibes-regular-webfont.woff2')
        format('woff2'),
       url('fonts/greatvibes-regular-webfont.woff') 
        format('woff'),
       url('fonts/greatvibes-regular-webfont.ttf') 
        format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  font-family: GreatVibes;
}